<h1 class="text-center titles text-capitalize my-5" > what our customers says</h1>

<div class="container-fluid ">
  
    <ngb-carousel >
      <ng-template ngbSlide>
        <div class="wrapper">
          <div class="carasoul-container"> 
            <img  src="../../assets/img/01.jpg" alt="">
            <strong>Sara ferrero</strong> 
            <span class="my-2">London</span>
            <p class="text-center f-prgrph p-2"> "Lorem, ipsum dolor sit amet consectetur adipisicing."</p>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <div class="carasoul-container"> 
          <img src="../../assets/img/02.jpg" alt=""> 
           <strong> Clara Stev</strong> 
          <span class="my-2">Paris</span>
          <p class="text-center f-prgrph p-2"> "Lorem, ipsum dolor sit amet consectetur adipisicing."</p>
        </div> 
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <div class="carasoul-container"> 
          <img src="../../assets/img/01.jpg" alt="">
          <strong> Mai Kim </strong>
          <span class="my-2">California</span>
          <p class="text-center f-prgrph p-2"> "Lorem, ipsum dolor sit amet consectetur adipisicing."</p>
        </div>
        </div>
      </ng-template>
    </ngb-carousel>
    </div> 
    <footer> 
      <div class="footer">   
       <p class="text-center claer-text mt-3"> all right reserved for e-commerce 2021</p>
      </div>
    </footer>